
<br>
<br>
<br>
<br>
<h2>PRODUCTOS TURISTICOS DEL ECUADOR</h2>

<br>
<input type="text" [(ngModel)]="filtro" placeholder="Buscar por nombre...">
<button class = "agg"(click)="insert()">+ Nuevo</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of datosFiltrados; track item.id) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.categoria }}</td>
        <td>{{ item.precio }}</td>
        <td>{{ item.stock }}</td>
        <td>
          <button (click)="modificar(item)">Modificar</button>
          <button (click)="eliminar(item.id)">Eliminar</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (mostrarDialogo) {
  <app-registrarsitio
    [dato]="datoEditando"
    (guardar)="actualizarDatos($event)"
    (cerrar)="cerrarDialogo()"
  ></app-registrarsitio>
}
<br>


 

