@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Signika:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}
.seccion{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  gap: 10px;
}
h1{
  text-align: center;
  padding-top: 5%;
}

h2{
  margin-left: 10%;
  padding-bottom: 4px;
  padding-top: 30px;
}
h3{
  font-size: 15px;
}

.seccion_cuadro{
  padding-left: 6%;
  padding-top: 2%;
  
}

.contenedor_imagen{
  width: 300px;           
  height: 200px;          
  overflow: hidden;
  position: relative;
}

.imagenes{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  display: block;
}

/*Titulo Canopy*/
h4{
  padding: 2px;
  font-size: 25px;
}
.Ubicacion {
  display: flex;
  gap: 8px;
  font-size: 10px;
  padding: 6px;
  
}
.location{
  width: 10px;
}

.Estrellas{
  width: 15px;
  display: flex;
  gap: 12px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-left: 5px;
}

/*Cuadro de precio*/
.contenedor_precio{
  background-color: rgb(218, 77, 17);
  width: 300px;
  height: auto;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.dinero {
  font-size: 15px;
  margin-left: 30px;
}
.aprox{
  margin: 0 2px;
  font-size: 10px;
}



.modal_fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  
}

.cuadro_Info {
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 1000;
  background-color: #ed8787;
  text-align:justify ;
  font-size: 16px;
  word-spacing: 0.1em;
  
}
.cerrar{
  display: block;       
  margin: 0 auto;       
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f55239dd;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  
}
.cerrar:hover{
  background-color: white;
  color: black;
}

.vermas {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto; 
  
}

.angle {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}

.contenedorbusqueda{
  padding-top: 12%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
form{
  background-color: #d5d1d1;
  width: 90%;
  max-width: 600px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 10px;
}

form input {
  font-size: 18px;
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
}

form search {
  background-color: rgb(218, 77, 17);
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
search {
  color: #fff;
  font-size: 18px;
  height: 4px;
  width: 4px;
}

.contenedorbusqueda {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.form-busqueda {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #fff;
}

.form-busqueda input {
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 30px;
  width: 250px;
}

.form-busqueda button {
  background-color: rgb(218, 77, 17);
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.form-busqueda img {
  width: 20px;
  height: 20px;
}
